spring:
  application:
    name: ${APP_NAME:Snap Pad}

  datasource:
    url: ${DATABASE_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: ${PORT:8080}

jwt:
  secret: ${JWT_SECRET:thisisaverylongjwtsecretkeywithmorethan32characters123456}
  expiration: ${JWT_EXPIRATION:1200000}

logging:
  level:
    org.springframework.security: INFO
    org.hibernate.SQL: WARN
